<!DOCTYPE html>
<html>
  <head>
    <title>Devary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="entry_list xs-hidden col-sm-3 col-md-4">
      <%= render 'layouts/entry_list' %>
    </div>
    <div class="main-section col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-8">
      <%= yield %>
    </div>
  </body>
</html>
